<app-navbar></app-navbar>
<div class="predict" >
  <h3>Sales Performance</h3>
  <canvas baseChart 
    width="400" 
    height="150"
    type="line" 
    [data]="chatdata">
  </canvas>
<br><br><br>
<div class="predict">
  <h4>Predicted Data</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Sales</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of chartData">
        <td>{{ data[0] }}</td>
        <td>{{ data[1] }}</td>
      </tr>
    </tbody>
  </table>
<br>

<div style="padding-left: 580px;">

  <button type="submit" class="btn btn-primary" style="margin-left: 15px;" value="powerbi" (click)="onSubmit()">PowerBi</button>
</div>
</div>
</div>
